body {
	background-color: #efeee7;
	font: "Georgia",Times New Roman,Times,serif;
	color: #333333;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	width: 1024px;
}

header {
	background-color: #333333;
}

h1 {
	color: #eee;
	font-size: 28px;
	padding: 10px;
	text-align: center;
}

h2 {
	font-size: 24px;
	margin: 10px;

}

section {
	margin: 0 auto;
	padding: 0;
	float: left;
}

img {
	width: 200px;
	float: left;
	margin: 10px;
}

a {
	color: #d21034;
}

#bioPic {
	margin: 10px;
}

#mainBio {
	float: left;
}

#div1 {
	width: 70%;
}

#contactInfo {
	width: 30%;
}

